<div ng-controller="Umbraco.Install.ProjectMetricsController">
  <h1>Consent</h1>

  <p>In order to improve Umbraco and add new functionality based on as relevant information as possible, we would like to collect system- and usage information from your installation. We’ll NOT collect any personal data like content, code or users.</p>

  <form name="consentForm" class="form-horizontal" novalidate ng-submit="validateAndInstall();">
    <div class="control-group">
      <label class="control-label" for="consent">Consent</label>
      <div class="controls">
        <input type="checkbox" id="consent" name="consent" ng-model="installer.current.model.consentGranted">
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Install" class="btn btn-success" />

        <button class="btn btn-info" ng-click="goBack()">Go Back</button>
      </div>
    </div>
  </form>
</div>
